/* bad-script-regular - latin */
@font-face {
    font-family: 'Capriola';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('./fonts/capriola-v11-latin-regular.woff') format('woff'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/capriola-v11-latin-regular.woff2') format('woff2'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

@font-face {
    font-family: 'Chela One';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('./fonts/chela-one-v19-latin-regular.woff') format('woff'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/chela-one-v19-latin-regular.woff2') format('woff2'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

*, *::after, *::before {
    box-sizing: border-box;
}



  body{
    background-color: #017D7D;
    /*margin: 0;*/
 }
 details{
    border-radius: 15px;
    background-color: #011a1a;
    align-items: center;
 }
 
.landing{
    top:  2125px;
}
.spin{
    top:  825px;
}
.news{
    top: 1400px;
}
.us{
    top: 1400px;
}
.guides{
    top: 3050px;
}
  
  .header {
     width: 100%;
     height: 92px;
     padding-top: 5px;
     padding-bottom: 6px;
     display:flex;
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     z-index: 1000;
     background-color: #011A1A;
     border-bottom: 1px solid #017D7D;

 }
 .footer{
     width: 100%;
     height: 193px;
     padding-top: 6px;
     padding-bottom: 6px;
     display:flex;
     position: absolute;
     left: 0;
     right: 0;
     z-index: 1000;
     background-color: #011A1A;
     

 }

 .central{
   height: 100%;
   width: 1319px;
   margin-left: 50%;
   margin-right: -50%;
   transform: translate(-50%);
 }

 .footer_menu {
      display: flex;
      align-items: center;
 }



  
  .header_list{
     display: flex;
     flex-direction: row;
     margin-right: 15px;
     margin-left: 15px;
     margin-top:  19px;
     padding-left: 0;
     padding-right: 0;
     flex-wrap: wrap; 
     list-style-type: none;
    /* align-items: center;*/
     
      
  }

    .header-pic{
     width: 45px;
     height: 45px;

  }
  .header_item{
     margin-right: 128.7px;
  }
  .header_item:last-child{
       margin-right: 0px;
  }
  .sum{
     cursor: pointer;
     list-style: none;
  }
  .footer_list{
     display: flex;
     flex-direction: row;
     margin-left: 0px;
     margin-right: 15px;
     padding-left: 0;
     padding-right: 0;
     flex-wrap: wrap; 
     list-style-type: none;
     align-items: center;
     
      
  }

    .footer-pic{
     width: 73px;
     height: 73px;
     margin-left: 15px;
     padding-left: 0px;
     right: 0;
  }
  .footer_item{
     margin-right: 250.5px;
  }
  .footer_item:last-child{
       margin-right: 0px;
  }

  .header_link{
     font-family: 'Capriola';
     font-style: normal;
     font-weight: 400;
     font-size: 36px;
     line-height: 45px;
     display: flex;
     color: #FFFFFF;
     text-decoration: none;
     /*backdrop-filter: blur(2px);*/
     /*transition: opacity .2s linear;*/
  }
  .footer_link{
     font-family: 'Capriola';
     font-style: normal;
     font-weight: 400;
     font-size: 30px;
     line-height: 45px;
     display: flex;
     color: #FFFFFF;
     text-decoration: none;
     /*backdrop-filter: blur(2px);*/
     /*transition: opacity .2s linear;*/
  }
 .det{
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
 }
 .logo_name{
     font-family: 'Chela One';
     font-style: normal;
     font-weight: 400;
     font-size: 48px;
     line-height: 56px;
     display: flex;
     color: #FFFFFF;
     text-decoration: none;

  }

    .main_list{
      list-style-type: none;
      padding-left: 0;
      padding-right: 0;
      margin-top:  370px;
      margin-left: 15px;
      margin-right: 15px;

  }
    .main_item{
     margin-bottom: 65px;
  }

 .rec{
     height: 500px;
     padding-top: 0px;
     padding-bottom: 0px;
     display:flex;
     background-color: #011A1A;
     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35));
     border-radius: 45px;
 }
 .title_landing{
    position: absolute;
    width: 1100px;
    height: 138px;
    top: 162px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
    text-decoration: none;
    font-family: 'Capriola';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 69px;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px #000000;
 }
 .micro_champs_heading{
    position: absolute;
    width: 442px;
    height: 112px;
    left: 58px;
    top: 55px;

    font-family: 'Capriola';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 56px;

    color: #FFFFFF;
 }
 .micro_champs-pic{
    position: absolute;
    width: 496px;
    height: 496px;
    right: 2px;
    top: 2px;

    mix-blend-mode: lighten;
    border-radius: 45px;
 }
 .micro_champs_text{
    position: absolute;
    width: 442px;
    height: 210px;
    left: 58px;
    top: 214px;

    font-family: 'Capriola';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;

    color: #FFFFFF;
 }

  .macro_heading{
    position: absolute;
    width: 427px;
    height: 112px;
    right: 71px;
    top: 55px;

    font-family: 'Capriola';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 56px;

    color: #FFFFFF;
 }
 .macro-pic{
    position: absolute;
    width: 496px;
    height: 496px;
    left: 2px;
    top: 2px;

    mix-blend-mode: lighten;
    border-radius: 45px;
 }
 .macro_text{
    position: absolute;
    width: 427px;
    height: 210px;
    right: 71px;
    top: 214px;

    font-family: 'Capriola';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;

    color: #FFFFFF;
 }
 .circle{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 50%;
    border-radius: 180px;
    margin-right: -50%;
    transform: translate(-50%);
    top: 318px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35));
 }
 .caption{
    position: absolute;
    width: 300px;
    height: 88px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
    top: 648px;

    background: #011A1A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    border-radius: 45px;
 }
 .caption_text{
    position: absolute;
    width: 270px;
    height: 50px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);

    font-family: 'Capriola';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 25px;
    text-align: center;

    color: #FFFFFF;
 }
 .arrow{
    position: absolute;
    top: 355.5px;
    height: 225px;
 }
 .med_circle{
    position: absolute;
    width: 225px;
    height: 225px;
    left: 0;
    border-radius: 180px;
    filter: brightness(65%) blur(2px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
 }
 .triangle{
    position: absolute;
    left: 300px;
    width: 69px;
    height: 82px;
    font-style: normal;
    font-weight: 400;
    font-size: 68px;
    line-height: 82px;
    color: #011A1A;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    transform: rotate(-90deg);
    top: 72px;
 }
 .lil_circle{
    position: absolute;
    width: 19px;
    height: 19px;
    left: 367px;
    top: 102.5px;
    border-radius: 180px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    background-color: #011A1A;
 }
 .left{
    left: 15px;
 }
 .right{
    transform: rotate(180deg);
    right: 15px;
 }
.right_pic{
    transform: rotate(180deg);
 }
 .headline{
    position: absolute;
    top: 300px;
    left: 15px;
    right: 15px;
 }
 .line{
    display: flex;
    height: 2px;
    width: 1289px;
    border: 1px solid #011a1a;
    background-color: #011a1a;

 }
 .news_list{
      list-style-type: none;
      padding-left: 0;
      padding-right: 0;
      margin-top:  304px;
      margin-left: 15px;
      margin-right: 15px;
  }
    .news_item{
     margin-bottom: 0px;
  }

 .news_link{
     height: 300px;
     padding-top: 0px;
     padding-bottom: 0px;
     display:flex;
     background-color: #017D7D;
     filter: blur(0);
 }
 .news-pic{
    position: absolute;
    width: 215px;
    height: 215px;
    left: 0px;
    top: 47px;

    border-radius: 180px;
 }
 .news_heading{
    position: absolute;
    width: 752px;
    height: 69px;
    right: 160px;
    top: 47px;

    font-family: 'Capriola';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 69px;
    text-decoration: none;
    color: #FFFFFF;
 }
 .news_text{
    position: absolute;
    width: 752px;
    height: 132px;
    right: 160px;
    top: 95px;

    font-family: 'Capriola';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 44px;
    opacity: 0.5;
    color: #FFFFFF;
    text-decoration: none;
 }
 .news_data{
    position: absolute;
    width: 138px;
    height: 38px;
    right: 15px;
    top: 225px;

    font-family: 'Capriola';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    color: #011A1A;
    opacity: 0.5;
    text-decoration: none;
 }
 .search_input{
    position: absolute;
    width: 900px;
    height: 84px;
    left: 175px;
    top: 162px;
    border: none;
    background: #FFFFFF;
    border-radius: 45px;
    outline: none;
 }
 input[type="text"]{
    padding-left: 30px;
     padding-right: 70px;
    font-family: 'Capriola';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;

    color: #011A1A;
 }
 .search_button{
    position: absolute;
    display: inline-block;
    width: 200px;
    height: 84px;
    border: none;
    left: 1005px;
    top: 162px;
    background: #011a1a;
    border-radius: 45px;
    font-family: 'Capriola';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    cursor: pointer;
    color: #FFFFFF;
 }
 .search_button:active{
    background-color: grey;
 }
 .supps-pic{
    position: absolute;
    display: flex;
    width: 1150px;
    height: 396px;
    top: 314px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
    border-radius: 45px;
 }
 .supps_text{
    position: absolute;
    width: 1150px;
    height: 504px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
    border-radius: 45px;
    top: 725px;

    font-family: 'Capriola';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 56px;
    text-align: center;

    color: #FFFFFF;
 }
 .guide-pic1{
    position: absolute;
    width: 500px;
    height: 500px;
    left: 15px;
    top: 315px;
    border: 4px solid #000000;
    box-sizing: border-box;
    border-radius: 45px;
 }
 .guide-pic2{
    position: absolute;
    width: 500px;
    height: 500px;
    right: 15px;
    top: 2235px;
    border: 4px solid #000000;
    box-sizing: border-box;
    border-radius: 45px;
 }
 .guide_text1{
    position: absolute;
    width: 674px;
    height: 500px;
    right: 15px;
    top: 300px;
    font-family: 'Capriola';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;

    color: #FFFFFF;
 }
 .guide_text2{
    position: absolute;
    width: 1250px;
    height: 1350px;
    left: 15px;
    right: 15px;
    top: 850px;

    font-family: 'Capriola';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;

    color: #FFFFFF;
 }
 .guide_text3{
    position: absolute;
    width: 674px;
    height: 400px;
    left: 15px;
    top: 2235px;

    font-family: 'Capriola';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;

    color: #FFFFFF;
 }
 .comment_input{
    position: absolute;
    width: 825px;
    height: 70px;
    left: 15px;
    top: 2850px;
    border: none;
    background: #FFFFFF;
    border-radius: 30px;
    outline: none;
 }
 .comment_button{
    position: absolute;
    display: inline-block;
    width: 200px;
    height: 70px;
    border: none;
    left: 785px;
    top: 2850px;
    background: #011a1a;
    border-radius: 30px;
    font-family: 'Capriola';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    cursor: pointer;
    color: #FFFFFF;
 }
 .comment_button:active{
    background-color: grey;
 }
 .comment_title{
    position: absolute;
    width: 200px;
    height: 70px;
    left: 15px;
    top: 2950px;

    font-family: 'Capriola';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    color: #FFFFFF;
 }
 .comment_list{
      position: absolute;
      list-style-type: none;
      padding-left: 0;
      padding-right: 0;
      margin-top:  3050px;
      margin-left: 15px;
      margin-right: 15px;
  }
    .comment_item{
     margin-bottom: 0px;
  }
  .comment_section{
     height: 175px;
     padding-top: 0px;
     padding-bottom: 0px;
     display:flex;
     background-color: #017D7D;
     filter: blur(0);
  }
   .comment_line{
    display: flex;
    height: 2px;
    width: 970px;
    border: 1px solid #011a1a;
    background-color: #011a1a;

 }
 .comment_name{
    position: absolute;
    width: 752px;
    height: 45px;
    left: 0px;
    top: 0px;

    font-family: 'Capriola';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    color: #FFFFFF;
 }
 .comment_context{
    position: absolute;
    width: 800px;
    left: 175px;
    top: 33px;
    text-align: center;
    font-family: 'Capriola';
    opacity: 0.5;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    color: #FFFFFF;
 }